
$background-color: #FBFBFB;
$primary-color: #39CDCC;
$primary-color-lite: #39CDCC06;
$title-color: #213F7D;
$text-color: #545F7D;
$danger: #E4033B;
$danger-lite: #E4033B10;
$success: #39CD62;
$success-lite: #39CD6210;
$danger-lite: #E4033B10;
$warning-lite: #E9B20010;
$warning: #E9B200;

